<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICONIC progetto BUS-EXPRESS</title>
  <link rel="stylesheet" href="registrazione.component.scss">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />

</head>
<body>

  <div class="social-icons">
    <a href="https://www.instagram.com" target="_blank" class="fa-brands fa-instagram"></a>
    <a href="https://www.tiktok.com" target="_blank" class="fa-brands fa-tiktok"></a>
    <a href="https://www.facebook.com" target="_blank" class="fa-brands fa-facebook"></a>
  </div>

  <nav>
    <ul>
      <li><a routerLink="/help-section">Aiuto</a></li>
    </ul>
  </nav>

  <div class="container">
      <div class="logo">ICONIC</div>

    <main class="main-content">
      <h1>BUSEXPRESS</h1>

      <div id="funzioni">
        <span class="anchor" id="funzioni"></span>
        <div class="button-group">
          <!-- Mostra la scritta e il bottone di logout se l'utente è autenticato -->
          <ng-container *ngIf="autenticazioneEffettuata">
            <p class="auth-message">AUTENTICAZIONE EFFETTUATA</p>
            <button class="funzione-btn logout-btn" (click)="Logout()">LOGOUT</button>
          </ng-container>

          <!-- Mostra i pulsanti se l'utente non è autenticato -->
          <ng-container *ngIf="!autenticazioneEffettuata">
            <a routerLink="/login"><button class="funzione-btn">REGISTRATI</button></a>
            <a href="/signin"><button class="funzione-btn">SEI GIÀ REGISTRATO?</button></a>
          </ng-container>
        </div>
      </div>

      <div id="help" *ngIf="!autenticazioneEffettuata">
        <span class="anchor" id="help"></span>
        <div class="button-group" style="margin-top: 40px;">
          <a routerLink="/help-section"><button class="help-btn">HELP</button></a>
        </div>
      </div>
    </main>
  </div>

  <footer>
    PROGETTO ICONIC &nbsp;|&nbsp; anno 2025 &nbsp;|&nbsp; ingegneria dei sistemi web &nbsp;|&nbsp; gruppo formato da Pinotti, Manzoli e Zaia
  </footer>

</body>
</html>

